/* Ensuring full height and centering */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
 
}

.login-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  height: 75vh;
}

.login-box img{
  height: 20vh;
  width: 100%;
  border-radius: 10px;
}
.login-box h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}
#forget {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}

#forget:hover {
  color: blue; /* Change color when hovered */
}


.login-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .login-box {
    width: 90%;
    padding: 20px;
  }

  .login-box h2 {
    font-size: 20px;
  }

  .input-group input {
    font-size: 14px;
  }

  .login-button {
    font-size: 14px;
  }
}